
<div id="clockdiv">
      <span class="days" hidden></span><br>
      Countdown:
      <span class="hours"></span>:
      <span class="minutes"></span>:
      <span class="seconds"></span>
      <br>
      <br>
</div>
