<h1>Single Shift</h1>
<form action="/shifts/edit/" method = "post">

  <input type="hidden" name="id" value="{{id}}" readonly><br>

  <label for="startTime">Start Time</label>
  <input type="text" placeholder="Start Time" name = "startTime" value = "{{startTime}}" style="width: 300px;"><br>

  <label for="endTime">End Time</label>
  <input type="text" placeholder="End Time" name = "endTime" value = "{{endTime}}" style="width: 300px;"><br>

  <label for="productivity">Productivity</label>
  <input type="text" placeholder="Productivity" name = "productivity" value = "{{productivity}}"style="width: 30px;"><br>

  <input type="Submit">
</form>
